legacy-peer-deps=true
node-version=18.17.1
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
prefer-offline=true
engine-strict=true
cache-min=9999999
prefer-frozen-lockfile=true
fund=false
audit=false
